@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.logo{
    width: 60px;
}

.nav{
    display: flex;
}

.nav_ul{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.nav_li{
    list-style: none;
    margin: 10px;
}

.nav_li > a{
    color: black;
    text-decoration: none;
}

.nav_button{
    border-radius: 25px;
    border: none;
    width: 160px;
    height: 50px;
    background-image: linear-gradient(0.25turn,#CDFFD8, #94B9FF);
    cursor: pointer;
}

.contain_slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan{
    font-size: 4.6em;
    font-weight: 900;
}

.contain_semi_slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan_content{
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    max-width: 450px;
}

.slogan_button{
    margin-top: 30px;
    border-radius: 25px;
    border: none;
    width: 170px;
    height: 35px;
    font-size: 1.1em;
    background-image: linear-gradient(0.25turn,#CDFFD8, #94B9FF);
    cursor: pointer;
}

.aside{
    width: 80%;
    background-color: linear-gradient(0.25turn,#CDFFD8, #94B9FF);
}

.container_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    justify-content: center; /* Centra el formulario en la página */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Toma toda la altura de la ventana */
}

.container_login h2 {
    text-align: center; /* Título centrado */
    margin-bottom: 20px; /* Espacio después del título */
}

.container_login input[type="text"],
.container_login input[type="password"] {
    margin-bottom: 10px; /* Espacio entre los campos */
    padding: 10px; /* Padding para hacer los campos más grandes */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 5px; /* Bordes redondeados para los campos de texto */
}

.container_login button {
    padding: 10px 20px; /* Padding más generoso para el botón */
    background-color: #007BFF; /* Un azul bonito para el botón */
    color: white; /* Texto blanco para que resalte */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados para el botón */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.container_login button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
}